<div
  class="about"
>

    <div
    class="header"
    >

        <h1>About Us</h1>



    </div>

    <div
      class="main-container"
    >
      
         <div class="left-container">
           <img 
             src="/assets/images/engneering.jpg">
        </div>

        <div class="right-container">

         <div
            class="centerTitle"
         >
             <h3>
                 Greetings !
             </h3>
             <p>Hii Am Jayabal We build your house safe and secure 
                & and provide a good infrastructure</p>
         </div>

        </div>

    </div>

</div>
