<div
class="header"
>
 <div class="navbar" >
    <div>
        <div
           class="titleContainer"
        >
              <img src="https://i.pinimg.com/originals/e0/45/31/e04531314590c7149e79853acfd772b0.png" >
              <div>
                    <h4
                        class="title"
                    >
                        JB HOMES
                    </h4>
                    <p>& Real Estate</p>
              </div>
        </div>    
    </div>

    <div
       class="rightHeader"
    >
      <div>
          <h4>Home</h4>
      </div>
      <div>
          <h4>Service</h4>
      </div>

      <div>
          <h4>About us</h4>
      </div>
      <div>
          <h4>Contact</h4>
      </div>
    </div>
  </div>

 <img src="assets/images/buildingBackground.jpg" />
 <div class="imageCover" ></div>

 <div
    class="centerContent"
 >
    <div
       class="centerTitle"
    >
        <h3>
            Your Dream House
        </h3>
        <p>We build your house safe and secure 
            & and provide a good infrastructure</p>
    </div>

 </div>
</div>