/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    width: 100%;
    height: 100%;
}

body{
    overflow-x: hidden ;
}